.App {
  font-family: sans-serif;
  text-align: center;
}

input{
  padding: 1rem;
  width: 80%;  
}

h1 {
  background-color: blanchedalmond;
  margin-top: -1rem;
  padding: 1rem;
  width: 100%;
  margin-left: -1rem;
}
